<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
        colors="true"
>
        <testsuites>
                <testsuite name="Formation PHP">
                        <directory>10tests/test</directory>
                </testsuite>
        </testsuites>
</phpunit>